body{
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-gap: 2rem;
    height: 76vh;
    width: 45%;
    align-self: center;
    border: 1px solid grey;
    box-shadow: -0.6em 0.5em 0.4em grey;
    border-radius: 10px;
}

form div {
    display: flex;
    grid-gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

form div label {
    width: 20rem;
    max-width: 46%;
    font-size: 1.3em;
}

form div input {
    width: 20rem;
    border-radius: 3px;
    max-width: 46%;
}

form div ul {
    order: -1;
    width: 100%;
}

.btn-lg{
    box-shadow: -0.3em 0.3em 0.4em grey;
}

form div label ~ input[type=text]:hover, input[type=email]:hover, input[type=password]:hover{
    border: 2px solid #A1C9CC;
    transform: scale(1.1);
    transition-duration: 1s;
}
.btn-lg:hover{
    transform: scale(1.5);
    transition-duration: 1s;
}